.HomeNav .rs-navbar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.HomeNav .rs-navbar-header a {
  text-decoration: none;
  margin-left: 30px;
}

.HomeNav {
  margin-bottom: 20px;
}
.HomeNav .rs-navbar {
  background-color: rgb(202, 200, 200);
}
